language: node_js
node_js:
  - node
services:
  - postgresql
before_script:
  - psql -c 'CREATE DATABASE js_skills;' -U postgres
env:
  - DATABASE_URL=postgres://js_skills:js_skills@localhost:5432/js_skills
before_install:
  - pip install --user codecov
after_success:
  - codecov --file coverage/lcov.info --disable search
