/* CSS reset */

@import "reset.css";
/* Import Fonts */

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans|Source+Code+Pro");
body {
  font: 18px "Alegreya Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Code Pro", monospace;
}

.mainContainer {
  width: 100vw;
}

header {
  width: 100%;
  padding: 0.5rem 1rem;
  min-height: 4rem;
  background-color: #123;
  color: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  margin-right: 2rem;
}

.user {
  text-align: right;
  margin-right: 1rem;
}

.user ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user a {
  color: #999;
  text-decoration: none;
}

.user a:hover {
  color: #fff;
}

form input {
  display: block;
}

footer {
  display: block;
  width: 100vw;
  padding: 0.5rem 1rem;
  min-height: 2rem;
  background-color: #123;
  overflow: hidden;
  color: #ddd;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
}

footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}

/* Tree */

.node {
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 18px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.chart p,
.chart h1 {
  color: black;
}

.node-content {
  background-color: white;
  border: 2px solid steelblue;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  height: auto;
  min-height: auto;
  max-height: 345px;
  overflow: auto;
  box-sizing: border-box;
}

.node-content label {
  background-color: orange;
  width: 100%;
  display: block;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 2px black;
  cursor: pointer;
}

.node-content label + p {
  margin-top: 15px;
}
