<section id="login_section" class="login_section">
  <div id="form_error">
  </div>
  <form id="login_form" class="login_form" action="/login" method="post" novalidate>
    <label for="email">Your email</label>
    <br>
    <input type="email" id="email" name="email" value="" placeholder="">
    <br>
    <label for="password">Your password</label>
    <br>
    <input type="password" id="password" name="password" value="" placeholder="">
    <input type="submit" role="button" class="login_button" name="" value="Log in">
  </form>
  <a href="/register">Create new account</a>
</section>

<script src="js/token.js"></script>
<script src="js/shared.js"></script>
<script src="js/login.js"></script>
