<section id="register_section" class="register_section">
  <div id="form_error">
  </div>
  <form id="register_form" class="register_form" action="/register" method="post" novalidate>
    <label for="name">Your name</label>
    <input type="name" id="name" name="name" value="" placeholder="">
    <label for="email">Your email</label>
    <input type="email" id="email" name="email" value="" placeholder="">
    <label for="password">Your password</label>
    <input type="password" id="password1" name="password1" value="" placeholder="">
    <label for="password">Verify password</label>
    <input type="password" id="password2" name="password2" value="" placeholder="">
    <input type="submit" role="button" class="login_button" name="" value="Sign Up">
  </form>
  <a href="/login">Already have an account?</a>
</section>

<script src="js/token.js"></script>
<script src="js/shared.js"></script>
<script src="js/register.js"></script>
