<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Javascript Web Dev Skills</title>
  <meta name="description" content="Turn Into Coders JS Bootcamp's 8th week project">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">

</head>

<body>

  <section class="mainContainer">

    <header>
      <div class="title">
        <h1 class="headerTitle">Javascript Web Dev Skills</h1></div>
      {{> user}}
    </header>

    <section class="content">
      {{#if message}}
      <div id="message" class="message {{message.status}}">
        {{ message.text }}
      </div>
      {{/if}}

      {{{body}}}


    </section>

    <footer class="footer">
    </footer>

  </section>

  <script src="js/token.js"></script>

</body>

</html>
